/********************
Adrien : CSS Page d'accueil
********************/

/* HEADER  */
.header {
    background-color: #dba67b;
}

/* Bouton se connecter */
.btn {
    background-color: #a55c55;
    border: 0;
    border-radius: 20px;
    margin-right: 0.5em;
    font-size: 2.5em;
    transition: all 0.4s ease;
}
.btn:hover {
    background-color: #a55c55;
    transform: scale(1.2);
}
/* Titre du header  */
.header h1 {
    font-family: "Teko", sans-serif;
    color: #fff;
    font-size: 4em;
    transition: all 0.4s ease;
}
.header h1:hover {
    transform: scale(1.2);
}

/* Logos du header sauf bouton "connected" */
.fa-home {
    color: #a55c55;
    font-size: 3em;
    padding: 25px;
    transition: all 0.4s ease;
}
.fa-home:hover,
.fa-sticky-note:hover {
    transform: scale(1.2);
}
/* FIN HEADER  */

/* Liste de logos  */
.card-logo .far,
.card-logo .fas,
.card-logo .fab {
    font-size: 2.3em;
    padding: 20px;
    color: #dba67b;
    padding: 1em 1.5em 3em 1.5em;
    transition: all 0.4s ease;
}
.card-logo .far:hover,
.card-logo .fas:hover,
.card-logo .fab:hover {
    transform: scale(1.2);
}
.card-logo i:nth-child(even) {
    color: #a55c55;
}

/* Bloc ou la il y a la liste des logos */
.card-logo {
    display: flex;
    justify-content: center;
}

/* Le body et le display flex pour les cases */
body {
    background-color: #fff;
    font-family: "Raleway", sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
}

/* Titre des cards  */
.card-inte h3,
.card-extension h3,
.card-dev h3,
.card-qcm h3 {
    display: flex;
    font-size: 3.2em;
    justify-content: center;
    margin-bottom: 0.5em;
}

/* La case Integration 1*/
/* La case Integration 1*/
.card-inte {
    transition: all 0.4s;
    text-align: center;
    color: #fff;
    background-color: #a55c55;
    width: 25%;
    padding: 3em;
    border-radius: 8em;
    margin: 2em 4em 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
/* La case Integration au survol 2*/
.card-inte:hover {
    font-style: italic;
    transform: scale(1.2);
    background-color: #dba67b;
    color: #492825;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Contenu caché de Intégration 3*/
.inte-hover {
    opacity: 0;
    color: #492825;
    font-size: 1.5em;
}
/* Contenu devient visible au survol de card-inte  4*/
.card-inte:hover .inte-hover {
    opacity: 1;
}
/* Les logos de Intégration  5*/
.card-inte i {
    margin: 1em 0.5em;
    font-size: 3em;
}

/* La case extensions 1*/
/* La case extensions 1*/
.card-extension {
    transition: all 0.4s ease;
    text-align: center;
    color: #fff;
    background-color: #a55c55;
    width: 25%;
    padding: 3em;
    border-radius: 8em;
    margin: 2em 4em 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
/* La case Extension au survol 2*/
.card-extension:hover {
    font-style: italic;
    transform: scale(1.2);
    background-color: #dba67b;
    color: #492825;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Contenu caché de Extension 3*/
.extension-hover {
    opacity: 0;
    color: #492825;
    font-size: 1.5em;
}

/* Contenu devient visible au survol de card-extension  4*/
.card-extension:hover .extension-hover {
    opacity: 1;
}
/* Les logos de extension 5*/
.card-extension i {
    margin: 1em 0.5em;
    font-size: 3em;
}

/* La case developper 1*/
/* La case developper 1*/
.card-dev {
    transition: all 0.4s;
    text-align: center;
    color: #fff;
    background-color: #a55c55;
    width: 25%;
    padding: 3em;
    border-radius: 8em;
    margin: 2em 4em 2em 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
/* La case Developper au survol 2*/
.card-dev:hover {
    font-style: italic;
    transform: scale(1.2);
    background-color: #dba67b;
    color: #492825;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Contenu caché de Developper 3*/
.dev-hover {
    opacity: 0;
    color: #492825;
    font-size: 1.5em;
}

/* Contenu devient visible au survol de Developper  4*/
.card-dev:hover .dev-hover {
    opacity: 1;
}
/* Les logos de Developper 5*/
.card-dev i {
    margin: 1em 0.5em;
    font-size: 3em;
}

/* La case qcm 1*/
/* La case qcm 1*/
.card-qcm {
    transition: all 0.4s ease;
    color: #fff;
    background-color: #dba67b;
    width: 40%;
    padding: 3em 5em 3em 5em;
    padding: 3em;
    border-radius: 7em;
    margin: 5em auto 8em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.card-qcm:hover {
    border-radius: 5em;
}

/* La case qcm au survol 2*/
.card-qcm:hover {
    font-style: italic;
    transform: scale(1.2);
    background-color: #dba67b;
    color: #492825;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Contenu caché de qcm 3*/
.qcm-hover {
    opacity: 0;
    color: #492825;
    font-size: 1.5em;
}

/* Contenu devient visible au survol de qcm  4*/
.card-qcm:hover .qcm-hover {
    opacity: 1;
}

/* Les logos de qcm 5*/
.card-qcm i {
    margin: 1em 0.5em;
    font-size: 3em;
}

/* FOOTER TIME  */
.footer {
    background-color: #a55c55;
}

/* Logo footer */
.footer .fa-copyright,
.footer .fa-home {
    color: #fff;
    font-size: 3em;
    margin-right: 1em;
    transition: all 0.4s ease;
}
.footer .fa-copyright:hover {
    transform: scale(1.2);
}

/* Produce by  */
.footer p {
    color: #fff;
    font-size: 2em;
}
